<h2>Delivery Informations for command : {{commandID}}</h2>
<p>Address : {{deliveryInfo.address}}</p>
<p>Total price : {{deliveryInfo.totalPrice}}</p>
<p>Paiement date : {{deliveryInfo.paiementDate}}</p>
<ol>
    <li *ngFor="let commandItem of deliveryInfo.items">
        <p>Product name : {{commandItem.name}}</p>
        <p>Quantity : {{commandItem.quantity}}</p>
        <p>Unitary price : {{commandItem.unitaryPrice}}</p>
    </li>
</ol>

<app-delivery-date-form (setDeliveryDateProcess)="setDeliveryDate($event)"></app-delivery-date-form>
