<form (ngSubmit)="onSubmit(value)" #value="ngForm">
    <div class="form-group">
      <label for="name">
        Enter the product name
      </label>
      <input type="text" name ="name" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="price">
        Enter the product price
      </label>
      <input type="number" name ="price" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="category">
        Enter the product category
      </label>
      <input type="text" name ="category" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="description">
        Enter the product description
      </label>
      <input type="text" name ="description" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="partnerID">
        Enter your partner name
      </label>
      <input type="text" name ="partnerID" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="ingredient">
        Enter the product ingredients
      </label>
      <input type="text" name ="ingredient" class="form-control" ngModel>
    </div>
    <div class="form-group">
      <label for="dimension">
        Enter the product dimension
      </label>
      <input type="text" name ="dimension" class="form-control" ngModel>
    </div>
    <div class="center">
    <button class="btn btn-primary" type="submit" value="Send">Submit</button>
  </div>
  </form>
  