<div class="marge">
<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h1>Sign In</h1>
      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Username" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPassword required>
      </div>
      <br>

      <!-- Calling SignIn Api from AuthService -->
      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)">
      </div>

      <br>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <a routerLink="/forgot-password">Forgot Password?</a>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Don't have an account?<a class="redirect" routerLink="/sign-up"> Sign Up</a></span>
    </div>

  </div>
</div>
</div>