div {
    border: solid black 1px;
}

p {
    margin-left: 10px;
}

button {
    font-weight: bold;
    font-size: larger;
    color: chocolate;
}

.center {
    text-align: center;
}

.title {
    font-weight: bold;
}