<div class="marge">
    <button class="btn btn-primary" routerLink="/command">Return</button>
    <br>
    <h1>Order : {{commandID}}</h1>
<p>Status : {{command.status}}</p>
<p>Address : {{command.address}}</p>
<p>Delivery date : {{command.deliveryDate}}</p>
<p>Total price : {{command.totalPrice}}</p>
<p>Billing address : {{command.billingAddress}}</p>
<p>Payment date : {{command.paiementDate}}</p>
<ol>
    <li *ngFor="let commandItem of command.items">
        <p>Product name : {{commandItem.name}}</p>
        <p>Quantity : {{commandItem.quantity}}</p>
        <p>Unitary price : {{commandItem.unitaryPrice}}</p>
    </li>
</ol>
</div>
