<form (ngSubmit)="proceedToPaymentRequest(value)" #value="ngForm">
    <div class="form-group">
        <label for="acount">
            account :
        </label>
        <input type="text" name="account" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="bankCardID">
            bankCardID :
        </label>
        <input type="text" name="bankCardID" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="address">
            address :
        </label>
        <input type="text" name="address" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="shoppingCartID">
            shoppingCartID :
        </label>
        <input type="text" name="shoppingCartID" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="clientID">
            clientID :
        </label>
        <input type="text" name="clientID" class="form-control" ngModel>
    </div>
    <div class="form-group">
        <label for="billingAddress">
            billingAddress :
        </label>
        <input type="text" name="billingAddress" class="form-control" ngModel>
    </div>
    <button class="btn btn-primary" type="submit" value="Send">Proceed to payment</button>
</form>