<div>
  <mat-toolbar color="primary">
    <a mat-button class="companyName" routerLink="/">
      <span>Site name</span>
    </a>
    <span class="nav-spacer"></span>
    <div>
      <a mat-button routerLink="/employee/product-creator">Employee panel</a>
    </div>
    <div>
      <a mat-button routerLink="/catalog">Catalog</a>
    </div>
    <div>
      <a mat-button routerLink="/command">Order</a>
    </div>
    <div>
      <a mat-button routerLink="/partner/delivery">Partner panel</a>
    </div>
    <div>
      <a mat-button routerLink="/bank">Bank</a>
    </div>
    <div>
      <a mat-button routerLink="/shopping-cart">Shopping Cart</a>
    </div>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>
