.companyName{
  font-size: 150%;
  color: rgb(76, 143, 194);
}

.mat-toolbar{
height: 7vh;
color: rgb(6, 50, 100);
background-color: rgb(222, 239, 247);
font-size: 130%;
}

.fit-picture{
  height: 5vh;
  margin-right: 3vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
background-color: lightskyblue;
min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  color: rgb(76, 143, 194);
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}


.nav-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}
